//container
#container
  margin auto
  width 60%
  min-width 18rem

#banner
  overflow auto
  position relative
  display table
  width 100%
  #site-title
  #site-description
  #social-links
    display inline-block
    vertical-align baseline
  #site-title
    // vertical-align middle
    font-size 3rem
    font-weight lighter
    margin-right 1.5rem
    a
      color special-text-color
  #site-subtitle
    position absolute
    //left and top are ludicrously hardcode, please update later
    //as this might break when blog subtitle changes width
    left 55px
    top 90px
    margin 0
    /*border-left thin solid dimgray*/
    font-size small
  #site-description
    padding 5px 7px
    background-color dark-green
    color #ffffff
    font-style italic
  #social-links
    list-style none
    color #ffffff
    padding 0
    li
      display inline-block
      padding 5px
      background-color link-background-color-inverted
      a
        color link-color-inverted
        padding 2px 7px
        &:hover
          color link-hover-color-inverted
          background-color link-hover-background-color-inverted

#content
  text-autospace ideograph-alpha
  .meta
    .article-title
      font-weight lighter
      margin-bottom 0
      a
        color manly-pink
    .article-date
      color darkgray

  .extra
    float right
    padding-left 0.5rem
    display none

  //index
  .abstract-list
  .excerpt
  .archive-list
    padding 0
    color dimgray

  #more
    display none

  .article-content
    padding-top 0.5rem
    h1
      font-weight 300
    h2
      font-weight lighter
      font-size 1.3rem
    h3
      font-weight lighter
      font-size 1.15rem
    a
      padding-left 0.3rem
      padding-right 0.3rem
      color link-color
      &:hover
        color link-hover-color
      img
        margin-left -0.3rem
    p
      font-weight 200

  figure.highlight
    margin-right 0
    margin-left 0

  nav
    clear: both
    text-align center

    #left-navigator
      max-width 40%
      float left

    #right-navigator
      max-width 40%
      float right

//footer
#footer-links
  clear right
  list-style-type none
  padding-top 3rem
  float right
  ul
    list-style-type none
    float right
  li
    float left
    margin-left 1rem
  a
    display inline-block
  .zh
    word-break-cjk break-word
    width 1rem
    letter-spacing 1rem

// Generic Classes
.table-cell
  display table-cell
.text-right
  text-align right
.text-center
  text-align center
